<section class="appointment-container">
  <header>
    <h1>Request an Appointment</h1>
  </header>
  <aside>
    <ol>
      <li class={{if this.isService "active"}}><div>Service</div></li>
      <li class={{if this.isLocation "active"}}>
        <div>
          Select Location
          {{#if this.hasServiceOptions}}
            <span class="service-option">{{@serviceType}}</span>
            <span class="service-option">{{@serviceDuration}}</span>
          {{/if}}
        </div>
      </li>
      <li><div>Select Date & Time</div></li>
      <li><div>Your Information</div></li>
    </ol>
  </aside>
  <main>
    {{yield}}
  </main>
</section>
